<!DOCTYPE html>
<html>
<head>
    <title>Hand Gesture Recognition - Predict from Video</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
    <!-- Custom CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='/css/styles.css') }}">
    <style>
        #container {
            display: flex;
            flex-direction: column;
            align-items: center;
            margin-top: 30px;
        }

        #video,
        #canvas {
            display: block;
            margin: 0 auto;
        }
    </style>
</head>
<body>
    <div class="container">
        <h2 class="text-center">Predict from Video</h2>
        <div id="container">
            <video id="video" width="500" height="500" autoplay></video>
            <canvas id="canvas" width="500" height="500"></canvas>
        </div>
        <p id="gesture" class="text-center mt-3">Predicted Gesture: </p>
    </div>

    <!-- Bootstrap JS -->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
    <script>
        const video = document.getElementById('video');
        const canvas = document.getElementById('canvas');
        const context = canvas.getContext('2d');

        if (navigator.mediaDevices && navigator.mediaDevices.getUserMedia) {
            navigator.mediaDevices.getUserMedia({ video: true })
                .then(function(stream) {
                    video.srcObject = stream;
                })
                .catch(function(error) {
                    console.error('Error accessing the webcam: ', error);
                });
        } else {
            console.error('Webcam access not supported in this browser.');
        }

        video.addEventListener('play', function() {
            setInterval(function() {
                context.drawImage(video, 0, 0, canvas.width, canvas.height);

                // Fetch the predicted gesture from the server and update the HTML element with id "gesture"
                fetch('/get_prediction')
                    .then(response => response.text())
                    .then(gesture => {
                        const gestureElement = document.getElementById('gesture');
                        gestureElement.textContent = 'Predicted Gesture: ' + gesture;
                    })
                    .catch(error => {
                        console.error('Error fetching the predicted gesture: ', error);
                    });
            }, 1000); // Update the canvas and gesture every 1 second
        });
    </script>
</body>
</html>
